@model MealsToGo.Models.LocalPasswordModel
<div class="cont-main">
    <h1>Change Password</h1>


    @using (Html.BeginForm("Manage", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false,"", new { @class = "error" })
        <div class="cont">
            <ul class="gen-form">
                <li>
                    <p>Current Password</p>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "gen-ftb" })
                    @*<p>Current Password</p>
                <input name="" type="password" class="gen-ftb" />*@
                    @*<p>Current Password</p>
                <input name="" type="password" class="gen-ftb" />*@</li>
                <li>
                    <p>New Password</p>
                    @* <input name="input" type="password" class="gen-ftb" />*@


                    @*@Html.LabelFor(m => m.NewPassword)*@
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "gen-ftb" })
                </li>
               
                <li>
                    <label>
                        <input type="submit" name="button2" id="button2" value="Change Password" class="submit" />
                    </label>
                </li>
                <div class="clr"></div>
            </ul>
            <div class="clr"></div>
        </div>
    }
</div>

@*<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false,"", new { @class = "error" })

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li><a href="#use">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li><a href="#use">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li><a href="#use">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>
}*@
