@model MealsToGo.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>*@

<div class="cont-main">
  <h2>@ViewBag.StatusMessage</h2></div>

@*<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>*@

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
