@model MealsToGo.Models.ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
}

<div class="cont-main">
    <h1>Reset Password</h1>


    @using (Html.BeginForm("ResetPassword", "Account"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false,"", new { @class = "error" })
       // @Html.ValidationSummary(false,"", new { @class = "error" })
        <div class="cont">
            <ul class="gen-form">
                <li>
                    <p>Enter your emailaddress</p>
                    @Html.TextBoxFor(m => m.UserNameOrEmailId, new { @class = "gen-ftb" })
                   
                </li>
               
                <li>
                    <label>
                        <input type="submit" name="button2" id="button2" value="Reset Password" class="submit" />
                        <a href="/Account/Login" class="submit" >Signup</a>
                    </label>
                </li>
                 <li>
                    <label style="color:green;">@ViewBag.Message</label>
                </li>
                <div class="clr"></div>
            </ul>
            <div class="clr"></div>
        </div>
    }
</div>
