@model IEnumerable<MealsToGo.Models.EmailInvitation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SenderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderEmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipientEmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipientID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SenderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SenderEmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecipientEmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecipientID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
