@model MealsToGo.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Order</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MealAdID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MealAdID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserDetail.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserDetail.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuantityOrdered)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuantityOrdered)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstimatedPickupTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstimatedPickupTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActualPickUpTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActualPickUpTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FeedbackOnQuality)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FeedbackOnQuality)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FeedbackOnTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FeedbackOnTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FeedbackOnPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FeedbackOnPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GeneralFeedback)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GeneralFeedback)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }, new { @class = "menu-14u" }) |
    @Html.ActionLink("Back to List", "Index",null, new { @class = "menu-14u" })
</p>
